.right {
  text-indent:100px;

}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: gray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.nav-tabs{
  margin-left: 150px;
}
.container {
  margin-left: 150px;
}
.a {
  float: left;
  margin: 10px;
  width:120px;
  height: 120px;
}
.panel-body {
  background-color: #eaf7e8;
}
.panel-body1 {
  background-color: #e0f4f9;
}
.wiki{
  width:120px;
  height: 120px;
}
.sidebar{
  width: 20%;
  float: left;
  padding-bottom: 100%
}
.sidebar p{
  margin-left: 8px;
  border-bottom: 1px solid gray;
}
/*.main{
  float: right;
}*/
